
.card-group-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 45rem;
  margin-bottom: 2rem;
}

.card {  
  max-width: 500px;
  margin: 10rem 2rem 0 0;
  max-height: 36rem;
  flex: 0 0 50%;
}


@media (min-width: 576px)  and  (max-width: 1060px) {
  .card-group-main {
    margin-top: 130rem;
    margin-bottom: 2rem;
  }
  .card {  
    max-width: 530px;
    margin: 10rem 0 0 0;
    max-height: 36rem;
    flex: 0 0 100%;
  }
}




@media (max-width: 575px) {
  .card-group-main {
    margin-top: 110rem;
    margin-bottom: 2rem;
  }
  .card {  
    max-width: 350px;
    margin: 10rem 0 0 0;
    max-height: 36rem;
    flex: 0 0 100%;
  }
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn {
  display: flex;
  justify-content: center;
  margin: 0 1rem;
}