.card-group {
display: flex;
}

.card {  
  margin: 2rem;
  max-height: 32rem;
}

@media (max-width: 575px) {
  .card-group {
    margin-top: 45rem;
  }
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn {
  display: flex;
  margin: 0 .8rem;
}