

/* About Me 
---------------------*/

.aboutme-container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.about-text {
  margin: 1rem;
}

.about-text h3 {
font-size: 45px;
font-weight: 700;
margin: 0 0 6px;
}


.about-text h6 {
font-weight: 600;
margin-bottom: 15px;
}

.about-text p {
font-size: 18px;
max-width: 450px;

}

.about-avatar {
  max-width: 22rem;
  margin: 1rem;
}

.about-avatar img {
  border-radius: 50%;
  width: 100%;
}


.theme-color {
  color: rgb(107, 107, 107);
}
.dark-color {
  color: black;
  border-bottom: #f9ab00 solid 2px;
}


@media (max-width: 767px) {
  .about-text h3 {
    font-size: 35px;
  }
  .about-text h6 {
    font-size: 18px;
  }
}

